.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first,
.countries--second {
  align-items: end;
  justify-content: end;
}
.countries--second {
  align-items: end;
  justify-content: center;
}
.countries--second .country--brazil {
  order: 4;
}
.countries--second .country--croatia {
  order: 3;
}
.countries--second .country--ethiopia {
  order: 2;
}
.countries--second .country--laos {
  order: 1;
}
.countries--second .country--uganda {
  order: 0;
}
.countries--third {
  align-items: start;
  justify-content: center;
}
.countries--third .country--brazil {
  align-self: flex-end;
}
.countries--fourth {
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.countries--fourth .country--ethiopia {
  align-self: center;
}
.countries--fourth .country--laos {
  align-self: center;
}
.countries--fifth {
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.countries--fifth .country--uganda {
  align-self: center;
}
.countries--fifth .country--brazil {
  order: 4;
}
.countries--fifth .country--croatia {
  order: 3;
}
.countries--fifth .country--ethiopia {
  order: 2;
}
.countries--fifth .country--laos {
  order: 0;
}
.countries--fifth .country--uganda {
  order: 1;
}
